nav {
    background-color: black;
    padding: 5px;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    background-color: silver;
    color: white;
    padding: 5px;
    display: block;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
nav a:hover {
    background-color: wheat;
    color: black;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}
body{
    margin: 3px;
    color: silver;
    border:solid  gray 5px;
}
#K{
    color: white;
    text-decoration: underline;
    padding: 5px;
    margin: 0;
}
#Y{
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.container {
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
  }
  .cards {
    display:flex;
    justify-content: space-around;
    gap: 20px;
  }
  .card {
    width: 90px;
    padding: 50px;
    background-color: gold;
    color: red;
    border-end-end-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card h3 {
    text-decoration: underline;
    margin: 0;
    font-size: 20px;
  }
  .card p {
    color: #555;
  }